<h2>User info</h2>
<%= attachment_image_tag(user, :profile_image, :fill, 60, 60, fallback: "no-image-icon.jpg") %>
<table class='table'>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th><%= link_to user.followings.count, follows_user_path(user.id) %></th>
  </tr>
  <tr>
    <th>followers</th>
    <th><%= link_to user.followers.count, followers_user_path(user.id) %></th>
  </tr>
  <td>
    <% unless current_user == user %>
      <% if user.followed_by?(current_user) %>
       <th><%= link_to "フォロー外す", user_relationships_path(user.id), method: :delete, class: "btn btn-sm btn-info" %></th>
      <% else %>
       <th><%= link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn btn-sm btn-success" %></th>
      <% end %>
    <% end %>
  </td>
</table>

<div class='row'>
  <%= link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
</div>